.Content-form {
    text-align: center;
    background-color: #282c34;
    min-height: 90vh;
    min-width: 90vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: calc(2px + 2vmin);
    border: 1px solid white;
    flex-wrap:wrap;
    justify-content: space-around;
}

.Content-row-header {
    flex-grow: 1;
    border-bottom: 1px solid white;
    padding: calc(1vmin);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    min-width: 90vw;
}

.Content-row-content {
    flex-grow: 5;
    padding: calc(1vmin);
    flex-direction: row;
}