.Await-bg {
    align-self: center;
    background-position: 5vmin 4vmin;
    background-repeat: no-repeat;
    background-size: 66% 75%;
}

.OldTv-img {
    width: calc(100px + 44vmin);
    margin-left: 1vmin;
}

.Image0 {
    background-image: url('../../img/click.png'),  url('../../gif/0.gif');
}
.Image1 {
    background-image: url('../../gif/1.gif');
}
.Image2 {
    background-image: url('../../gif/2.gif');
}
.Image3 {
    background-image: url('../../gif/3.gif');
}
.Image4 {
    background-image: url('../../gif/4.gif');
}
.Image5 {
    background-image: url('../../gif/5.gif');
}
.Image6 {
    background-image: url('../../gif/6.gif');
}
.Image7 {
    background-image: url('../../gif/7.gif');
}

@import url('https://fonts.googleapis.com/css?family=Bangers');
.Click-text {
    font-family: Bangers, cursive;
    text-align: center;
    font-size: calc(12px + 8vmin);
    color: rgb(255, 255, 255);
    background-color: rgba(69, 70, 99, 0);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    margin: -7px 0 0 7px;
    align-items: center;
    padding: 1vh 1vw;
}