.Game-item {
    flex-wrap: wrap;
    padding: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 1vmax;
    align-items: baseline;
    font-size: calc(7px + 1vmin);
    border: 1px solid white;
    border-radius: 15px;
    min-width: calc(30px + 30vmin);
    box-shadow: 3px 6px 4px 0px rgb(0 0 0 / 42%);
    max-width: 250px;
    width: calc(120px + 10vmin);
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.Store-l {
    font-family: "Abril Fatface", cursive;
    text-align: center;
    margin: 1vmin;
    font-size: calc(10px + 1vmin);
    color: rgb(255, 255, 255);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.Store-div {
    width: 100%;
    display: flex;
    border-bottom: 1px solid white;
}

.Free-space-h {
    display: flex;
    flex-grow: 1;
}

.Store-img-c {
    margin-bottom: 1vmin;
    width: 5vh;
}

.Image-free-space {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.Store-game-n {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-self: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 1vmin 0;
}

.Game-img-c {
    display: flex;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 1vmin;
}

.Old-price {
    font-family: "Abril Fatface", cursive;
    margin: 1vmin;
    font-size: calc(10px + 1vmin);
    color: rgb(255, 255, 255);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    text-decoration: line-through;
    margin: 0vmin 2vmin;
}

.Discount-p {
    font-family: "Abril Fatface", cursive;
    margin: 1vmin;
    font-size: calc(10px + 1vmin);
    color: rgb(255, 255, 255);
    background-color: rgba(84, 84, 84, 0);
    background-color: #b3a31e;
    border-radius: 5px;
    padding: 0px 7px;
}

.Price-now {
    font-family: "Abril Fatface", cursive;
    display: flex;
    align-self: center;
    background-color: #009b06;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 1vmin;
    height: 4vh;
    border-radius: 5px;
    font-size: calc(12px + 1vmin);
    box-shadow: 3px 6px 4px 0px rgb(0 0 0 / 42%);
    text-shadow: 4px 2px 2px rgba(0,0,0,0.6);
}

.Info-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Add-game {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: calc(6px + 1vmin);
    color: white;
}

.Site-page {
    margin-right: 3px;
    display: flex;
    align-self: end;
    text-decoration: none;
    font-size: calc(6px + 1vmin);
    color: white;
}