.Await-bg {
    align-self: center;
    background-position: 3vmin 8vmin;
    background-repeat: no-repeat;
    background-size: 68% 67%;
}

.OldTv-img {
    margin-top: 6vmin;
    width: calc(100px + 44vmin);
}

.Image0 {
    background-image: url('../../gif/0.gif');
}

.Image1 {
    background-image: url('../../gif/1.gif');
}

.Image2 {
    background-image: url('../../gif/2.gif');
}
.Image3 {
    background-image: url('../../gif/3.gif');
}

.Image4 {
    background-image: url('../../gif/4.gif');
}

.Image5 {
    background-image: url('../../gif/5.gif');
}

.Image6 {
    background-image: url('../../gif/6.gif');
}

.Image7 {
    background-image: url('../../gif/7.gif');
}