.Await-bg {
    align-self: center;
    background-image: url('../../img/battle-city-nes.gif');
    background-position: 3vmin 8vmin;
    background-repeat: no-repeat;
    background-size: 68% 67%;
}

.OldTv-img {
    margin-top: 4vmin;
    width: calc(100px + 44vmin);
}